@font-face {
  font-family: "SF";
  src: url("../fonts/SF-Mono/SFMonoRegular.otf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Quick-Sand";
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Mono";
  src: url("../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}
