.navigation-links:hover {
  color: var(--secondary-font-color);
}

.navigation-contact-button:hover,
.first-page-check-work-button:hover {
  color: var(--secondary-font-color);
  background-color: var(--secondary-font-lightest);
}

.first-page-link {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.first-page-link:hover {
  color: var(--secondary-font-lightest);
}

.about-page-image {
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s;
}
.about-page-image:hover {
  background: url("../images/about-me.jpg");
  background-size: cover;
  background-position: top;
}
.contact-icons {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.contact-icons:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
